@font-face {
    font-family: "Fira Code";
    font-weight: 400;
    src: url("../fonts/FiraCode-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Fira Code";
    font-weight: 700;
    src: url("../fonts/FiraCode-Bold.woff2") format("woff2");
}